<h1>Privacy Policy</h1>

<h2>Personal Information</h2>
I don't collect any personal information about this website's visitors.

<h2>Cookies</h2>
This website/app does not use cookies, other than those that may be used by the underlying web technology (e.g. ColdFusion/J2EE) to maintain session state across multiple pages.

I use some third party services that may set cookies. In particular, I use Google Analytics (so I can see how much traffic the website receives, pages visited, the numbers of visitors from different countries, etc). These services provide aggregate data, and I do not collect any personal information about this website's visitors from those services.

In particular:

Third party vendors, including Google, use cookies to serve ads based on a user's previous visits to this website or other websites.
Google's use of advertising cookies enables it and its partners to serve ads to you based on your visit to this website and/or other sites on the Internet.
If you're concerned about a particular third party service being used on this website, I encourage you to view the privacy policy for that company/service. Here's Google's Privacy Policy, which explains what data they collect, why they collect it, and what they do with it.

You can also choose to disable cookies using your web browser's settings. If you do choose to disable cookies, some parts of this website (and other websites) may not work as expected.

<h2>Log Files</h2>
As with most websites, data is collected in the web server log files. This is a commonly accepted practice and includes data such as web pages requested, date and time of request, the type of web browser used, the visitor's IP address, the web page that referred the user to this website (if any), etc.

This information can be used for determining things such as how popular the website is, whether traffic is increasing or decreasing over a period of time, which pages visitors find useful, the websites the traffic is coming from etc. It can also be used for diagnostics purposes (for example, troubleshooting an error), and it can be used for security purposes (for example, analyzing unusual traffic in the event of a DDOS attack, etc).
